/* css styles */
p {
  text-align: justify;
}

.large-letter {
  font-weight: bold;
  font-size: 2em;
}

.home-info {
  margin-bottom: 16px;
  
}

.profile-image {
  height: 100%;
  min-height: 200px;
  background-image: url('profile.jpg');
  background-repeat: no-repeat;
  /*background-position: 20% 30%;*/
  background-position: center;
  background-size: cover;
}

.grid-list {
  row-gap: 0;
}

.sn-list-items > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sn-list-items > ul > li {
  font-weight: bold;
  padding-bottom: 4px;
}

.sn-list-items > ul > li > ul{
  font-weight: normal;
  list-style-type: disc;
}

.year-period {
  color: grey;
  font-size: 1em;
  font-weight: normal;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .year-period {
    display: block;
  }
  
.profile-image {
  height: 350px;
}
}